@import url('https://fonts.googleapis.com/css?family=Poppins:300&display=swap');

#cabecera {
    margin-top: -10px;
    margin-bottom: -10px;
    margin-left: -10px;
    margin-right: -10px;
    background:#26BDE8;
    padding-top: 50px;
    padding-bottom: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-box-shadow: 0px 9px 20px -9px rgba(0,0,0,0.67);
    -moz-box-shadow: 0px 9px 20px -9px rgba(0,0,0,0.67);
    box-shadow: 0px 9px 20px -9px rgba(0,0,0,0.67);
}

#cabecera img {
position: absolute;
 float: left;
 left: 50px;
 top: 30px;
}

#cabecera h2 {
    position: absolute;
    color: white;
    float: left;
    left: 105px;
    top: 14px;
    font-family: 'Poppins', sans-serif;

}
/*--------------------------------------------------*/
#menu {
    margin:0;
    width:500px;
    font-family:Arial, Helvetica, sans-serif;
    float: right;
    padding: 0%;
    position: absolute;
    top: 20px;
    right: 10px;
}

ul, ol {
    list-style:none;
}

.nav > li {
    float:left;
}

.nav li a {
    background-color:#26BDE8;
    color:#fff;
    text-decoration:none;
    padding:10px 12px;
    display:block;
    font-family: 'Poppins', sans-serif;
}

.nav li a:hover {
    background-color:#BDECF6;
    color: black;
}

.nav li ul {
    display:none;
    position:absolute;
    min-width:140px;
    margin: 0;
}

.nav li:hover > ul {
    display:block;
}

.nav li ul li {
    position:relative;
}

.nav li ul li ul {
    right:-140px;
    top:0px;
}
/*-------------------------------------------------------------*/

.footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 30px;
    background-color: #efefef;
    text-align: center;
    overflow:hidden;

  }

.subfooter1 {
    padding: 10px;

    float: left;
}

.subfooter2 {

    padding: 10px;
    float: left;
}

.subfooter1 h3 {
    margin: 2px;
    font-family: 'Poppins', sans-serif;
    float: left;
    font-size: 16px;
}

.subfooter2 p {
    font-size: 12px;
    margin: 5px;
    text-align: left;
    font-family: 'Poppins', sans-serif;
    float: left;

}

/*--------------------------------------------------------*/

